# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

| Data Science Tools |
|:------------------:|
| Spark |
| Jupyter |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
min = 200 
hours = min/60
print(hours)

3.3333333333333335

# Objectives:
- Languages for DS
- Tools for DS
- Table
- Code

## Author
Ritvik Jain